.bg { 
    /* The image used */
    background-image: url("img/Bish-bash-bosh-large.jpg");
  
    /* Full height */
    height: 600px; 
    
    /* Center and scale the image nicely */
    
    background-repeat: no-repeat;
    background-size: cover;
  }